<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user.username %>
</p>

<p>
  <strong>Purchases:</strong>
  <table id="purchase_table">
    <% @list.purchases.each do |p| %>
      <tr id="purchase_id_<%= p.id %>" class="purchase_row" onclick="selectPurchase(<%= p.id %>)">
        <td><%= p.product.name %></td>
        <td><%= p.amount %></td>
      </tr>
    <% end %>
    <tr id="add_purchase">
      <td><input type="text" name="product" id="product" /></td>
      <td><input type="number" min="1" max="1000" value="1" name="amount" id="amount" /></td>
      <td><input type="button" name="add_button" id="add_button" value="Add!" onclick="addPurchase()" /></td>
    </tr>
  </table>

<input type="hidden" name="list" id="list" value="<%= @list.id %>" />

</p>
<button id="collect_button" onclick="collectSelectedPurchases()">Collect</button>