<h1><%= @user.username %>'s Shopping Lists</h1>

<p>
  <strong>Add a new list!</strong>
</p>
<%= form_for @list do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: @user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h4>Lists:</h4>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list %></li>
  <% end %>
</ul>