<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @user.joined %>
</p>

<p>
  <strong>Last signin:</strong>
  <%= @user.last_signin %>
</p>

<p>
  <strong>Available:</strong>
  <%= @user.get_available %>
</p>

<p>
  <strong><%= link_to "Lists", lists_user_path(@user) %></strong>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
