<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>
<% if @user.admin? %>
  <h5>Administrator</h5>
<% end %>

<% if @user.get_available %>
    <p><strong>Available now!</strong></p>
<% else %>
    <p><strong>Last seen:</strong> <%= get_nice_time_str(@user.get_last_seen) %></p>
<% end %>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Joined:</strong>
  <%= get_nice_time_str(@user.created_at) %>
</p>

<p>
  <strong><%= link_to "Lists", lists_user_path(@user) %></strong>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
