<!DOCTYPE html>
<html>
<head>
  <title>ShoppingList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navibar">
  <% if current_user %>
    <strong><%= link_to "My lists", lists_user_path(current_user) %></strong>
  <% end %>
  <%= link_to 'Products', products_path %>
  <%= link_to 'Users', users_path %> |
  <% if current_user %>
    <%= link_to 'Sign out', signout_path, :method => :delete %>
  <% else %>
    <%= link_to 'Sign in', signin_path %>
    <%= link_to 'Sign up', signup_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
